QTPROJ/build-anthill-Desktop_Qt_5_14_2_MinGW_64_bit-Release/
QTPROJ/build-anthill-Desktop_Qt_5_14_2_MinGW_32_bit-Release/
QTPROJ/build-anthill-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
QTPROJ/build-anthill-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/